@page
@model IndexModel

<main>
    <h2 class="map-header">Aplikacja demonstracyjna PacMan</h2>

    <p class="number">
        Wizualizacja symulacji z wykorzystaniem programowania obiektowego w C# i Razor Pages.
    </p>

    <p class="number">
        Sekwencja ruchów: luludlulldllullrdllr.
    </p>

    <div class="tenor-gif-embed" data-postid="18991782" data-share-method="host" data-aspect-ratio="1.77778" data-width="100%">
        <a href="https://tenor.com/view/run-away-gif-18991782">Run Away GIF</a> from <a href="https://tenor.com/search/run-gifs">Run GIFs</a>
    </div>
    <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</main>
