<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] PacMan!</title>
    <link rel="stylesheet" href="~/css/site.css"
          asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img src="/Symbols/logo.png" alt="" class="pacman-logo" />
        <nav class="navbar">
            <a asp-area="" asp-page="/Index">Strona główna</a>
            <a asp-area="" asp-page="/Game" asp-route-mapType="OGMap">OG Map</a>
            <a asp-area="" asp-page="/Game" asp-route-mapType="CustomMap1">Custom Map 1</a>
            <a asp-area="" asp-page="/Game" asp-route-mapType="CustomMap2">Custom Map 2</a>

        </nav>
    </header>
    <audio id="background-music" autoplay loop>
        <source src="/Symbols/pixel-music.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <main>
        @RenderBody()
    </main>


    <script>
        document.addEventListener("DOMContentLoaded", function() {
          const audioElement = document.getElementById("background-music");
          audioElement.volume = 0.1; // Ustawienie głośności na 20%
        });
    </script>
</body>
</html>